tensorflow-macos==2.15.0
tensorflow-metal==1.1.0
numpy==1.26.4
protobuf==4.25.3
keras==2.15.0
opencv-python
mediapipe==0.10.21
deepface==0.0.95
pillow
retina-face>=0.0.17
mlx-whisper
sounddevice
pyaudio
kokoro-onnx
soundfile
onnxruntime
ollama
transformers